/*** COLORS ***/
html, body, main { background-color: #eee; }

.u-btn_cta,
.u-btn_tap { background-color: black; }
.u-btn_cta:hover,
.u-btn_cta:active,
.u-btn_cta:focus { color: black; }

.u-btn_cta:hover,
.u-btn_cta:active,
.u-btn_cta:focus,
.u-btn_tap:hover,
.u-btn_tap:active,
.u-btn_tap:focus { background-color: #AAA; }

.u-btn_cta { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Megatech";src:url("../../assets/fonts/MegatechAlt.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}
@font-face{ font-family:"Megatech Blank";src:url("../../assets/fonts/MegatechAltBold.ttf"); }
@font-face{ font-family:"Arial Black";src:url("../../assets/fonts/ariblk.ttf"); }

.u-megaFont { font-family: "Megatech"; }
 {font-family:"MegaTech Blank", serif;}
* {font-family:"Arial Black", sans-serif;}
/*** END FONTS ***/

/*** MEDIA ***/
 { background-image: url("../../assets/images/portrait-2.png"); }
 { background-image: url("../../assets/images/portrait-3.png"); }
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** .u-btn ***/
	.u-btn_cta {
		padding: 1em 1.9em;
	}
	.u-btn_tap {
		text-indent: -9999px;
		display: inline-block;
		width: 3em; height: 3em;
	}
		.banner-ad .u-btn_tap,
		.data-author .u-btn_tap { position: absolute; }
/*** END UTILITIES ***/

/*** INTERACTIVITY ***/
.u-btn_cta,
.u-btn_tap { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
	/*** FONTS ***/
	body { font-size: 14px; }
	.u-megaFont { font-size: 1.5em; }
}
@media screen and (min-width: 50em) {
	/*** FONTS ***/
	body { font-size: 16px; }
	.u-megaFont { font-size: 1.9em; }
}
/*** MEDIA QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.d-midWrap {
		max-width: 75em;
		margin: 0 auto;
	}

	.d-spacer {
		height: 55vh;
	}
/*** END DECORATION ***/