<!DOCTYPE html>
<html class="js-html">
	<head>
		{% include components/meta-tags.html %}
	</head>
	
	<body>
		<main>
			<header class="header d-midWrap">
				<h1 class="header-logo">Donation<br />Malala</h1>
				
				<div class="header-content">
					Menu
				</div>
				
				<div class="header-spacer"><a class="u-btn_cta">AAA</a></div>
			</header>
			
			<section class="banner d-midWrap">
				<div class="banner-content">
					<div class="banner-content-subtitle">The Economist</div>
					<h2 class="banner-content-slogan">A Legacy of Excellence and Inspiration in Economics</h2>
					<a class="u-btn_cta">Learn More</a>
				</div>

				<div class="banner-ad"><div class="banner-ad-wrap">
					<img src="/assets/images/placeholder-book.png" />
					<span class="u-btn_tap">Open</span>
				</div></div>
				
				<div class="banner-author">
					<!--
					<p class="banner-author-nickname u-megaFont">Tout Choc!</p>
					-->
					<img src="/assets/images/portrait-3_blank.png" />
				</div>
			</section>
			
			<section class="data d-midWrap">
				<div class="data-author">
					<span class="u-btn_tap">Open</span>
					<img src="/assets/images/portrait-2_blank.png" />
				</div>
				
				<div class="data-content">
					<div class="data-content-box">
						<span class="data-content-box-number">200k+</span>
						<span class="data-content-box-text">AAA</span>
					</div>
					<div class="data-content-box">
						<span class="data-content-box-number">$10M</span>
						<span class="data-content-box-text">AAA</span>
					</div>
					<div class="data-content-box">
						<span class="data-content-box-number">96%</span>
						<span class="data-content-box-text">AAA</span>
					</div>
				</div>
				
				<!--
				<div class="data-text">
					<p class="data-text-p">Celebrating a career of excellence in ONATRA, Donatien Malala, is fondly known as _______. He received the Egyptian _______ Award for his unique research theory on _______. He has been published and cited in numerous publications like _______, _______ and more.</p>
					
					<p class="data-text-p">From the pinnacle of his career to these enriching golden years, Donatien Malala continues to make invaluable contributions to the field. In his mature years, he dedicates ample time to delve deeper into his research pursuits and penning his upcoming book.</p>
					
					<p class="data-text-p">Through his writings, Donatien Malala shares his wealth of knowledge and experience, inspiring others to explore new frontiers in economic theory and policy. As he celebrates the chapters of his career, he remains a beacon of wisdom and inspiration, leaving an indelible mark on the world of economics for generations to come.</p>
				</div>
				-->
				
				<div class="data-spacer"></div>
			</section>
		</main>

	<script src="assets/scripts/www-dot-corporomalala-dot-com.js"></script>
	</body>
</html>